.navContainer {
	display: flex;
	justify-content: center;
	z-index: 10;
	height: 80px;
	width: 100%;
	top: 0;
	position: fixed;
	background-color: rgb(243, 243, 243);
	transition: background-color var(--dark-mode-toggle-time);
}

.navPage {
	width: 100%;
	max-width: 1400px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transition-timing-function: ease-in;
	transition: all 0.5s;
}

.navText {
	cursor: pointer;
}

.navTextTop {
	color: rgb(36, 36, 36);
	margin-left: 8px;
	text-align: left;
	font-size: 1.2em;
}

.navTextBottom {
	color: rgb(0, 0, 0);
	margin-left: 8px;
	font-size: 0.8em;
	font-family: 'Libre Baskerville', serif;
	text-align: left;
	line-height: 1.25em;
	text-transform: uppercase;
	color: rgb(82, 82, 82);
}

.navPageRight {
	margin-left: auto;
	margin-top: 20px;
}

.navLinks {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	top: 0;
	min-height: 100vh;
	z-index: 99;
	background: rgb(134, 134, 134, 0.7);
}

.navLinkBox {
	background: rgb(243, 243, 243);
	width: 60%;
	margin-left: auto;
	padding-top: 5em;
	min-height: 100vh;
	z-index: 100;
}

.navLinkBox > ul > li > a {
	text-decoration: none;
	color: rgb(31, 31, 31);
	font-weight: 600;
	font-size: 16px;
	font-family: 'Libre Baskerville', serif;
}

.navLinkBox > ul {
	padding: 2.5em 0;
}

.navLinkBox > ul > li {
	list-style: none;
}

.navLink:hover {
	color: rgb(255, 0, 0);
}

.navButton {
	display: none !important;
	border-radius: 50% !important;
	min-height: 50px !important;
	min-width: 50px !important;
	max-width: 50px !important;
	margin-right: 0.5em !important;
	margin-top: -30px !important;
}

.hamIcon {
	height: 35px !important;
	width: 35px !important;
	fill: rgb(29, 29, 29) !important;
}

.navLogo {
	height: 60px;
	width: 60px;
	margin-left: 20px;
	pointer-events: none;
}

.navRight {
	cursor: pointer;
}

.navMenuItems {
	display: flex;
	justify-content: space-around;
	margin-right: 1em;
	padding-bottom: 1.5em;
}

.navMenuItems > ul > li {
	list-style: none;
}

.navMenuItems > ul > li > a {
	text-decoration: none;
	color: rgb(31, 31, 31);
	font-weight: 600;
	font-family: 'Libre Baskerville', serif;
}

.navMenuItems > ul > li > a > p {
	padding: 0.5em 1em;
}

.navMenuItems > ul > li > a > p:hover {
	background: rgb(239, 227, 252);
	border-radius: 10px;
}

.navActive {
	color: rgb(98, 0, 255) !important;
}

.navDarkActive {
	color: rgb(196, 95, 255) !important;
}

@media only screen and (max-width: 900px) {
	.navButton {
		display: flex !important;
	}

	.navMenuItems {
		display: none;
	}
}

.navLinkBlack {
	background: rgb(48, 48, 48);
}

.navBlack {
	background: rgb(30, 35, 36);
}

.navDarkHeadText,
.navDarkText {
	color: rgb(240, 240, 240);
}

.navDarkText:hover {
	color: rgb(66, 48, 48);
}

.navHide {
	display: none;
}

.darkHamIcon {
	fill: rgb(218, 218, 218) !important;
}
