.skillInfo > img {
	object-fit: contain;
	height: 90px;
	width: 90px;
	margin: 2em 1em;
	padding: 1rem 1rem;
	border-radius: 20px;
	box-shadow: rgba(46, 49, 51, 0.2) 0px 8px 24px;
	background: rgb(245, 244, 244);
	transform: scale(1);
	transition: transform 400ms ease;
}

.skillInfo > img:hover {
	transform: scale(1.1);
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.skillInfo > img {
		height: 40px;
		width: 40px;
		margin: 1em 0.5em;
		padding: 0.8em 0.8em;
	}
}

@media only screen and (max-width: 1100px) {
	.skillInfo > img {
		object-fit: contain;
		height: 60px;
		width: 60px;
	}
}

.skillBlack > img {
	background: rgb(168, 168, 168);
}
