.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 1400px;
	display: flex;
	justify-content: flex-start;
	z-index: 20;
}

.footerLeft {
	display: flex;
	margin: 1em 2em;
	padding: 0.48em 0.6em;
	cursor: pointer;
	background: rgb(114, 114, 114);
	border-radius: 2em;
	width: 1.4em;
	transition: background 350ms, width 350ms, border-radius 350ms;
	overflow: hidden;
}
.footerLeftText {
	margin-left: 0.2em;
	font-weight: bold;
}

.footerLeft:hover {
	border-radius: 30px;
	background: rgb(95, 37, 255);
	min-width: 8em;
}

.mailIcon {
	fill: rgb(243, 243, 243) !important;
	pointer-events: none;
}
.footerLeftText {
	min-width: 100px;
	color: rgb(243, 243, 243);
}

.footerRight {
	margin-left: auto;
	margin-top: auto;
	margin-bottom: 3em;
	font-size: 0.7em;
	color: rgb(88, 88, 88);
	font-weight: bold;
	font-family: cursive;
	margin-right: 1em;
}

.footerBlackText {
	color: rgba(240, 240, 240, 0.8);
}
