.introContainer {
	min-height: 100vh;
	max-width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.introPage {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 1em 1em;
	width: 100%;
	max-width: 1400px;
}

.introTop {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.introTopLeft {
	padding: 1em;
}

.introHeading {
	display: flex;
}

.emoji {
	height: 60px;
	margin-left: 10px;
}

.introIntro {
	font-size: 2em;
	position: relative;
	line-height: 2em;
	left: 0;
	width: 100%;
	font-family: 'Libre Baskerville', serif;
	color: rgb(44, 44, 44);
	font-weight: bold;
	text-align: left;
}

.introIntro::before {
	content: 'Hello there!';
	background-color: rgb(243, 243, 243);
	color: rgb(111, 0, 255);
	font-size: 1.2rem;
	padding: 0 0.5em;
	margin-left: 60px;
	z-index: 2;
	position: absolute;
	top: -50px;
}

.introIntro::after {
	content: '';
	display: block;
	position: absolute;
	top: -20px;
	min-height: 5px;
	width: 60px;
	background: rgb(111, 0, 255);
}

.introButtons {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2em;
}

.introButtons > p {
	padding-top: 0.8em;
	margin-right: 1em;
	margin-left: 1em;
	font-size: 1.3em;
	color: rgb(104, 104, 104);
}

.introButton {
	display: flex;
	cursor: pointer;
	padding: 1em 2em;
	border-radius: 30px;
	border: 2px solid rgb(111, 0, 255, 0.6);
	outline: none;
	background: none;
	text-align: center;
}

.introButton > h5 {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	color: rgb(61, 61, 61);
	font-weight: 600;
	font-size: 1.1em;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

.introButton:hover {
	background: rgb(111, 0, 255);
}

.introButton:hover > h5 {
	background: rgb(111, 0, 255);
	color: white;
}

.programmerImage {
	display: flex;
}

.programmerImage > img {
	object-fit: contain;
	width: 100%;
	min-width: 200px;
	max-width: 400px;
	height: auto;
}

@media only screen and (max-width: 1030px) {
	.introTop {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.introPage {
		margin-top: 2em;
	}

	.introIntro {
		display: flex;
		flex-direction: column;
		font-size: 1.2em;
	}

	.introIntro::before {
		top: -35px;
		font-size: 0.9em;
		margin-left: 30px;
	}

	.introIntro::after {
		top: -20px;
		min-height: 3px;
		width: 40px;
	}

	.introHeading {
		font-size: 1em;
	}

	.emoji {
		height: 30px;
		margin-left: 10px;
	}

	.introSocial {
		max-width: 380px;
		margin: 0.3em 0 0.5em 0;
		padding-left: 1em;
	}

	.introSocial > svg {
		height: 1.4em;
		width: 1.4em;
		padding: 0 0.5em;
	}

	.introTop {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.introTopLeft {
		padding: none;
	}

	.programmerImage {
		width: 100%;
		justify-content: center;
		margin-bottom: 5em;
	}

	.programmerImage > img {
		max-width: 450px;
		max-height: 30vh;
	}

	.introButtons > p {
		padding-top: 1em;
		margin-right: 1em;
		margin-left: 1em;
		font-size: 1em;
		color: rgb(104, 104, 104);
	}

	.introButtons {
		margin-top: 2em;
	}

	.introButton {
		margin-top: 0.3em;
		cursor: pointer;
		padding: 0.75em 1.3em;
	}

	.introButton > h5 {
		font-size: 0.9em;
		padding: none;
	}
}

@media only screen and (max-width: 400px) {
	.introButton {
		padding: 1em 1em;
	}

	.introButton > h5 {
		font-size: 0.8em;
	}
}

@media only screen and (min-width: 1350px) {
	.introIntro {
		max-width: 800px;
	}

	.introDesc {
		max-width: 730px;
	}

	.programmerImage > img {
		max-width: 550px;
	}
}

.introBlack {
	background: rgb(70, 70, 70);
}

.introDarkText > h5,
.introDarkText > p,
.introDarkText {
	color: rgb(240, 240, 240);
}

.introDarkTextBorder {
	border: 2px solid rgb(157, 98, 253, 0.8);
}

.introDarkBefore::before {
	z-index: 1;
	background: rgb(70, 70, 70);
	color: rgb(157, 98, 253);
}

.introDarkBefore::after {
	background: rgb(157, 98, 253);
}
